body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #74b9ff, #0984e3);
}

form {
    margin-top: -10%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0984e3;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #74b9ff;
}

input[type="text"], input[type="password"]:focus {
    border-color: #0984e3;
    outline: none;
    box-shadow: 0 0 5px rgba(9, 132, 227, 0.5);
}

button {
    background-color: #6c5ce7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

button:hover {
    background-color: #4834d4;
}

h1{
    text-align: center;
}